/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&family=Sawarabi+Mincho&display&family=Bebas+Neue&display==swap");

/* Bounding boxes */

#testArea {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  background-image: url(./paper-texture.jpg);
  background-size: cover;
  background-blend-mode: hue;
}

#lowerScreen {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mainBox {
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 5px 5px 5px rgba(125, 125, 150, 0.2),
    -5px -5px 5px rgba(150, 125, 125, 0.2);
}
#colourGrid {
  display: flex;
  flex-direction: row;
  flex: 1;
}

#example {
  flex: 1;
}

#linkBox {
  display: flex;
  flex-direction: column;
}

/* mobile variants */
@media (max-aspect-ratio: 4/3) {
  #testArea {
    flex-direction: column;
  }
  .mainBox {
    padding: 5px;
    margin: 5px;
  }
}

@media (max-width: 900px) {
  #testArea {
    flex-direction: column;
  }
  .mainBox {
    padding: 5px;
    margin: 5px;
  }
}
/* Swatch elements */
.swatchContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.swatch {
  flex: 1;
  text-align: center;
  transition: border-color 2s;
  border: 2px solid;
  font-size: xx-small;
}

.swatch:hover {
  color: rgba(255, 255, 255, 0.7);
  border: 2px solid white;
}

/* Output area */
.outputContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.outputLabel {
  flex: 1;
  text-align: right;
  padding-right: 15px;
  min-width: 10vw;
}

.output {
  flex: 1;
  text-align: center;
  border-radius: 25px;
}

.output:hover {
  color: rgba(255, 255, 255, 0.7);
}
/* Fonts */
h1 {
  font-family: "Sawarabi Mincho", sans-serif;
}

body {
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

/* Pictures in testing area */
#labrador {
  background-image: url(./goodboy.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-blend-mode: luminosity;
  clip-path: circle();
  height: 150px;
  width: 150px;
  float: right;
  border: 15px solid grey;
  border-radius: 50%;
}

#gritty {
  background-image: url(./grittyboy.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-blend-mode: luminosity;
  height: 150px;
  width: 150px;
  float: left;
  border: 15px solid grey;
  border-radius: 25%;
  margin: 15px;
}

/* buttons in testing area */
button {
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 15px 32px;
  text-align: center;
  float: right;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Links */
.link {
  float: none;
}
