/* Bounding boxes */
#testArea {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.mainBox {
  margin: 40px;
  border-radius: 15px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 5px 5px 5px rgba(125, 125, 150, 0.2),
    -5px -5px 5px rgba(150, 125, 125, 0.2);
}
#colourGrid {
  display: flex;
  flex-direction: row;
  flex: 1;
}

#example {
  flex: 1;
}

#outputArea {
  max-width: 25vw;
}

/* Swatch elements */
.swatchContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.swatch {
  flex: 1;
  text-align: center;
  clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
}

/* Output area */
.outputContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.outputLabel {
  flex: 1;
}

.output {
  flex: 1;
  text-align: center;
  border-radius: 25px;
}
